@tailwind base;
@tailwind components;
@tailwind utilities;


/* for the scroll bar */
/* Apply a custom scrollbar to the entire page */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
  /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color when hovered */
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
  /* Color of the bottom right corner */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}