@tailwind base;
@tailwind components;
@tailwind utilities;

head,body{
  background-color: #F3F4F6;
}


/* for the scroll bar */
/* Apply a custom scrollbar to the entire page */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the scrollbar */
  height: 5px;
  /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light background for the track */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color when hovered */
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
  /* Color of the bottom right corner */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__img {
  width: 100%;
  /* height: auto; */
  object-fit: cover;
}